<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/xettuyen2026?useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=UTF-8
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- HikariCP connection pool -->
        <property name="hibernate.connection.provider_class">
            org.hibernate.hikaricp.internal.HikariCPConnectionProvider
        </property>
        <property name="hibernate.hikari.minimumIdle">2</property>
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>

        <!-- Hibernate settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <!-- sau khi check db <-> entity success thì sử dụng validate -->
        <!-- <property name="hibernate.hbm2ddl.auto">validate</property> -->

        <!-- Caching configuration -->
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
<!--        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>-->
<!--        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>-->
<!--        <property name="hibernate.javax.cache.uri">ehcache.xml</property>-->

        <!-- Bật màn hình theo dõi (Statistics)-->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.generate_statistics">false</property>

        <!-- Entity mappings -->
        <mapping class="com.tuyensinh.model.User"/>
        <mapping class="com.tuyensinh.model.NhomQuyen"/>
        <mapping class="com.tuyensinh.model.QuyenChucNang"/>
        <mapping class="com.tuyensinh.model.ThiSinh"/>
        <mapping class="com.tuyensinh.model.ThiSinhAccount"/>
        <mapping class="com.tuyensinh.model.Nganh"/>
        <mapping class="com.tuyensinh.model.ToHopMon"/>
        <mapping class="com.tuyensinh.model.NganhToHop"/>
        <mapping class="com.tuyensinh.model.DiemThiXetTuyen"/>
        <mapping class="com.tuyensinh.model.DiemCong"/>
        <mapping class="com.tuyensinh.model.NguyenVong"/>
        <mapping class="com.tuyensinh.model.BangQuyDoi"/>
    </session-factory>
</hibernate-configuration>